.footer{
    margin: 0.05em;
    background: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: 20px;
    padding: 0.5em;
}

.right{
    flex-grow: 1;
    color:#878787;
    font-size:12px;
}