.featured_item{
    position: relative;
}

.featured_item a{
    position: absolute;
    width: 100%;
    bottom:0em;
    text-decoration: none;
    right:0em;    
}

.featured_image{
    height: 330px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.featured_caption{
    color:white;
    top:0em;
    width: 100%;
    padding: 0.8em;
    font-weight: 300;
    font-size:2em ;
    box-sizing: border-box;
}

